@import "reset";


nav{
  background-color: lightblue;
  display: flex;
  justify-content: flex-end;
  padding: 15px;

  a{
    text-decoration: none;
    padding: 15px;
    color: black;
    font-weight: bold;
  }
}

.container{
  max-width: 80%;
  margin: 0 auto;
}

header {
  img {
    padding-top: 30px;
    width: 400px;
  }
}

.mission{
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  font-style: normal;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.about {
  font-family: serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  .aboutLeft{
    width: 50%;
    padding: 20px;
    font-size: 20px;
    line-height: 25px;
  }

  .aboutRight{
    justify-content: center;
  }

}
